html { background-color: #232731; color: white; }

header { text-align: center; margin: 30px; }
header * { margin: 0; }
header p { margin-top: 10px; font-size: .9rem; font-color: rgb(207, 207, 207); }

footer { text-align: center; font-size: .9rem; color: rgb(207, 207, 207); margin: 30px 0; }
footer a { color: inherit; }

.MuiPaper-root.card { background-color: #2e333e; color: white; padding: 1.5rem; }
.card-title { font-size: 1.1rem; font-weight: 600; margin: 0; position: relative; top: -5px; letter-spacing: 1px; }
.MuiPaper-root.card .stat { font-size: 2.25rem; display: block; text-align: right; }
.MuiPaper-root.card .prevStat { font-size: 1rem; display: block; text-align: right; margin-top: 7px; }
.MuiPaper-root.card .bar { width: 100%; height: 5px; margin-top: 25px; border-radius: 5px; }
.bar.blue { background-color: #438ce6; }
.bar.red { background-color: #e24f3f; }
.bar.green { background-color: #47bd61; }
.recharts-line-dots { display: none; }
.recharts-line-curve { stroke-width: 2; }
.recharts-cartesian-grid line { stroke: #1a1d27; stroke-dasharray: none; }
.recharts-cartesian-axis-line { display: none; }
.recharts-cartesian-axis-tick-line { stroke: #1a1d27; }
.recharts-yAxis tspan, .recharts-xAxis tspan { fill: white; margin: 5px; }

.custom-tooltip { overflow: hidden; background: #262b35; box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12); border-radius: 4px;}
.custom-tooltip p { margin: 0; padding: 8px 10px; }
.custom-tooltip .tt-label { margin: 5px 0; }
.custom-tooltip .tt-stat { display: block; text-align: left; font-size: 1rem; font-weight: 400; }
.custom-tooltip .tt-stat span { float: right; margin-left: 20px; }
.custom-tooltip.cases { background: #438ce6; }
.custom-tooltip.recovered { background: #47bd61; }
.custom-tooltip.deaths { background: #e24f3f; }

.radial .recharts-default-legend { position: relative; top: 10px; display: flex; flex-direction: row-reverse; justify-content: center; }

.countriesTable .card { padding: 0; }
.countriesTable .MuiTableCell-stickyHeader { color: white; background-color: #1a1d27; }
.countriesTable .MuiTableCell-body { color: white; }
.countriesTable .MuiTablePagination-root { color: white; background-color: #1a1d27; }
.countriesTable .MuiSelect-icon { color: rgba(255,255,255,.5)!important; }
.countriesTable .MuiIconButton-root.Mui-disabled { color: rgba(255,255,255,.5)!important; } 
.countriesTable .MuiTableCell-root { border-bottom: 1px solid rgba(255,255,255,.2); }
.countriesTable .MuiTableCell-root.highlight { color: #e24f3f; font-weight: 500; }
.MuiTableRow-root > td:first-of-type { font-weight: 500; }
.MuiTableRow-root > th:first-of-type,
.MuiTableRow-root > td:first-of-type
 { padding-left: 30px; }
 .MuiTableRow-root > th:last-of-type,
.MuiTableRow-root > td:last-of-type
 { padding-right: 30px; }
 
 .countriesTable .MuiTableHead-root th { padding-top: 20px; padding-bottom: 20px; }
 .countriesTable .MuiTablePagination-root { padding: 10px!important; }